<link rel="stylesheet" href="/css/comment.css" />
<li id="comment-<%= comment._id %>">
  <p id="comment-para">
    <% if(locals.user && locals.user.id == comment.user.id) { %>
    <small>
      <a
        class="delete-comment-button"
        href="/comments/destroy/<%= comment._id %>"
        >X</a
      >
    </small>
    <% } %> <%= comment.content %>
    <br />
    <small> Comment from: <%= comment.user.name %> </small>
    <br />
    <small>
      <% if(locals.user) { %>
      <a
        class="toggle-like-button"
        data-likes="<%= comment.likes.length %>"
        href="/likes/toggle/?id=<%=comment._id%>&type=Comment"
      >
        <% try { let likes = []; likes = comment.likes.filter(like =>
        (like.user._id.toString() === locals.user._id.toString()) &&
        (like.onModel === "Comment") && (comment._id.toString() ===
        like.likeable._id.toString()) ); if(likes.length > 0){ %> <% } else { %>
        <% } } catch(err) { console.log(err); } %>
        <span><%= comment.likes.length %> Likes </span>
      </a>
      <% } else { %> <%= comment.likes.length %> Likes <% } %>
    </small>
  </p>
</li>
