<link rel="stylesheet" href="/css/user_profile.css" />
<h1>InstaBook / Profile Page</h1>

<img id="profile-image" src="<%= user.avatar %>" alt="<%= user.name %>" />

<p><%= profile_user.name %></p>
<p><%= profile_user.email %></p>
<p><%= profile_user._id %></p>

<% if(user.id == profile_user.id){ %>
<!-- if user matches then show the form -->
<form
  action="/users/update/<%= profile_user.id %>"
  method="POST"
  enctype="multipart/form-data"
>
  <input
    type="text"
    name="name"
    placeholder="Your Name"
    value="<%= profile_user.name %>"
    required
  />
  <input
    type="email"
    name="email"
    placeholder="Your Email"
    value="<%= profile_user.email %>"
    required
  />
  <input type="file" name="avatar" placeholder="Profile Picture" />
  <input type="submit" value="Update" />
</form>

<%}else{%>
<!-- else show only the profile info -->
<p><%= profile_user.name %></p>
<p><%= profile_user.email %></p>
<%} %>

<br />
<% if(user.id != profile_user.id) {%> <% if(friends==false) {%>
<p id="friend-style">
  <a href="/friends/toggle/?id=<%=profile_user.id%>" id="toggle-friend"
    >Add Friend</a
  >
</p>
<%}%> <% if(friends==true) {%>
<p id="friend-style">
  <a href="/friends/toggle/?id=<%=profile_user.id%>" id="toggle-friend"
    >Remove Friend</a
  >
</p>
<%}%> <%}%>
<script src="/js/toggle_friend.js"></script> 