<link rel="stylesheet" href="/css/user_profile.css" />
<h1>InstaBook / Profile Page</h1>

<p><%= profile_user.name %></p>
<p><%= profile_user.email %></p>

<% if(user.id == profile_user.id){ %>
<!-- if user matches then show the form -->
<% if(user.avatar){ %>
<img id="profile-image" src="<%= user.avatar %>" alt="<%= user.name %>" />
<% }else{ %>
<img
  id="profile-image"
  src="https://png.pngtree.com/element_our/png/20181206/users-vector-icon-png_260862.jpg"
  alt="<%= user.name %>"
/>
<% } %>
<form
  action="/users/update/<%= profile_user.id %>"
  method="POST"
  enctype="multipart/form-data"
>
  <input
    type="text"
    name="name"
    placeholder="Your Name"
    value="<%= profile_user.name %>"
    required
  />
  <input
    type="email"
    name="email"
    placeholder="Your Email"
    value="<%= profile_user.email %>"
    required
  />
  <label for="file">Choose photo</label>
  <input type="file" name="avatar" placeholder="Profile Picture" />
  <input type="submit" value="Update" />
</form>

<%}else{%>
<!-- else show only the profile info -->
<% if(profile_user.avatar){ %>
<img
  id="profile-image"
  src="<%= profile_user.avatar %>"
  alt="<%= profile_user.name %>"
/>
<% }else{ %>
<img
  id="profile-image"
  src="https://png.pngtree.com/element_our/png/20181206/users-vector-icon-png_260862.jpg"
  alt="<%= profile_user.name %>"
/>
<% } %> <%} %>

<br />
<% if(user.id != profile_user.id) {%> <% if(friends==false) {%>
<p id="friend-style">
  <a href="/friends/toggle/?id=<%=profile_user.id%>" id="toggle-friend"
    >Add Friend</a
  >
</p>
<%}%> <% if(friends==true) {%>
<p id="friend-style">
  <a href="/friends/toggle/?id=<%=profile_user.id%>" id="toggle-friend"
    >Remove Friend</a
  >
</p>
<%}%> <%}%>
<script src="/js/toggle_friend.js"></script>
